@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-rgb: 62, 62, 62;
  --background-color-rgb: 3, 7, 18;
}

body {
  color: rgb(var(--text-color-rgb));
  background-color: rgb(var(--background-color-rgb));
}
